@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <style>
        .error {
            color: red;
            font-size: 0.9em;
        }
    </style>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/validaciones.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    

</head>

<body>
    <h1>Lista de Productos</h1>

    <input type="text" id="txtFiltro" />
    <button id="btnListarProductos" class="btn btn-primary">Listar</button>
    <button id="btnCrearProducto" class="btn btn-primary">Crear</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acción</th>
                <th>ID</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

    <!-- Modal para crear producto -->
    <div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="crearProductoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearProductoLabel">Crear Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="crearProductoForm">
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" />
                            <span class="error" id="nombreError"></span><br>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Name">Precio</label>
                            <input type="text" id="precio" name="precio" class="form-control" />
                            <span class="error" id="precioError"></span><br>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Name">Stock</label>
                            <input type="text" id="stock" name="stock" class="form-control" />
                            <span class="error" id="stockError"></span><br>
                        </div>
                        <br />
                        <input type="submit" id="btnGuardarProducto" class="btn btn-success" value="Guardar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {

        //alert('ajax');

        $('#btnCrearProducto').click(function () {            
            $("#crearProductoModal").modal('show');
        });
               

        $('#btnListarProductos').click(function () {                                    
            GetProductos();
        });
        
        $('#btnGuardarProducto').click(function () {
            alert('Para GUARDAR');

        });

        $(document).on("click", ".btnEliminar", function () {
            var productoId = $(this).data("id");
            
            //alert('ProductoID ' + productoId);
            
            Swal.fire({
                title: "¿Estás seguro?",
                text: "No podrás revertir esta acción.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => 
            {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "PUT",
                        url: "/Productos/DeleteProductos/" + productoId,
                        success: function (response) {
                            //alert(response.message);                        

                            Swal.fire({
                                title: "Buen trabajo!",
                                text: response.message,
                                icon: "success"
                            });

                            GetProductos();
                        },
                        error: function () {
                            alert("Error al eliminar");
                        }
                    });
                }
            
            });
        });

        function CreateProducto() {
            $.ajax({
                type: "POST",
                url: "/Productos/InsertProductos",
                data: {
                    nombre: $("#nombre").val(),
                    precio: $("#precio").val(),
                    stock: $("#stock").val(),                    
                },
                success: function (response) {
                    //alert('Registro exitoso');
                    //alert(response.message);

                    Swal.fire({
                        title: "Buen trabajo!",
                        text: response.message,
                        icon: "success"
                    });

                    $('#crearProductoModal').modal('hide');
                    GetProductos();
                },
                error: function () {
                    alert('Hubo un error al enviar el formulario');
                }
            });
        }

        function GetProductos() 
        { 
            var filtroProducto = $("#txtFiltro").val();

            $.ajax({
                type: "GET",
                url: "/Productos/GetProductos?filtro=" + filtroProducto,
                success: function (result) {

                    //alert('Luego de la URL');
                    console.log(result);

                    var tableBody = $('table tbody');
                    tableBody.empty(); // Vaciar la tabla

                    result.forEach(function (producto) {
                        var newRow = `<tr>
                                            <td>${producto.nombre}</td>
                                            <td>${producto.precio}</td>
                                            <td>${producto.stock}</td>
                                                <td>
                    <button class="btnEliminar" data-id="${producto.id}">❌ Eliminar</button>
                                            </td>
                                                <td>${producto.id}</td>
                                        </tr>`;
                        tableBody.append(newRow);
                    });
                },
                error: function () {
                    alert('Hubo un error al listar los productos.');
                }
            });
        }
    });
</script>